/*
 *= require jquery.ui.all
 *= require jquery-minicolors
 *= require bootstrap_and_overrides
 *= require fullcalendar
 *= require fullcalendar.print
 *= require_self
 */

html, body{
  margin:0px;
  padding:0px;
  height:100%;
  overflow:hidden;
}

#wrapper{
  width:978px;
  text-alight:center;
  margin-left:auto;
  margin-right:auto;
}
#content{
  width:778px;
  height:700px;
  float:right;
  padding:20px;
}

#sidebar{
  width:200px;
}
